// Styles in all the page

body {
  font-family: $main-font;
  font-weight: $fw-normal;
  font-size: 1.5rem;
  text-align: center;
  max-width: 1200px;
  @include break(1200px) {
    & {
      margin: auto;
    }
  }
}

a {
  text-decoration: none;
}

button {
  border: none;
}
